# yaml-language-server: $schema=https://creativeprojects.github.io/resticprofile/jsonschema/config.json

version: "1"

default:
  repository: "local:/mnt/mynas"
  password-file: "password.txt"

  backup:
    verbose: true
    schedule: 'daily'
    source:
      - "/share"
      - "/media"
    retention:
      after-backup: true
      keep-last: 3
      prune: true
